#page-top {
  header.header-pages {
    background-image: none !important;
  }
  .contact-section {
    .contact-row {
      justify-content: center;
      .contact-form {
        width: 70%;
      }
    }
  }
}