{% extends 'baseBO.html.twig' %}

{% block title %} {{ sub }} {% endblock %}

{% block content %}

    <section class="home">
        <h2>Bonjour {{ session.pseudo }}</h2>
        <p>Bienvenu sur la page d'administration du blog</p>

        <form action="/addPostForm" method="GET">
            <button type="submit" id="submit_btn" class="btn btn-outline-primary">Nouveau post</button>
        </form>
    </section>

{% endblock %}