{% extends 'baseBO.html.twig' %}


{% block content %}

    <section class="home">
        <h1 class="title-h1">{{ post.title }}</h1>

        <p>
            {{ post.content }}
        </p>

        <p>
            {{ post.pseudo }}
        </p>

        <div class="update">
            <a href="/updatePostForm/{{ post.post_id }}" type="button" class="btn btn-success">Modifier</a>
        </div>

    </section>

{% endblock %}