<!DOCTYPE html>

<html lang="fr">
<head>

    {% block head %}

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> {% block title %} {% endblock %} My page </title>

        <meta name="description" content="<?php /*echo $description*/?>">
        <meta name="author" content="Etienne Juffard">
        <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">-->
        <link rel="stylesheet" type="text/css" href="/Public/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/Public/Libraries/faw/css/all.min.css"/>

    {% endblock %}

</head>

<body>

<div class="content">
    {% block content %} {% endblock %}
</div>

<div class="footer">
    <footer class="footer-all">
        {% block footer %}
            <p class="mentions"> Copyright Etienne Juffard - 2020</p>
        {% endblock %}
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
</div>

</body>

</html>

