<!DOCTYPE html>

<html lang="fr">
<head>

    {% block head %}

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> {% block title %}
                {{ title }}
            {% endblock %}
        </title>

        <meta name="description" content="<?php /*echo $description*/?>">
        <meta name="author" content="Etienne Juffard">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400&display=swap" rel="stylesheet"><link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/Public/Libraries/faw/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="/Public/css/bootstrapTheme.css"/>
        <link rel="stylesheet" type="text/css" href="/Public/css/bootstrap-theme/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/Public/main-css/main.min.css"/>


    {% endblock %}

</head>

<body id="page-top">
{% block body %}

    {% block nav %}
        <!-- Navigation-->
        {% include ('nav-front.html.twig') %}

    {% endblock %}
    <header class="masthead">
        {% block header %}

        {% endblock %}
    </header>

    <section>
        {% block content %}
        {% endblock %}
    </section>

{% endblock %}

<footer class="bg-light py-5">
    {% block footer %}
        {% include ('footer.html.twig') %}
    {% endblock %}
</footer>

</body>
</html>