{% extends 'base-template.html.twig' %}

{% block footer %}
<div class="test">
    <p> HELLO WORLD</p>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"> </script>
<script src="/Public/css/bootstrap-theme/js/scripts.js" ></script>
{% endblock %}