{% extends 'base.html.twig' %}

{% block title %} Blog Etienne {% endblock %}

{#{% block head %}

    {{ parent() }}

{% endblock %}#}

{% block content %}

    <section class="home">
        <h1 class="title-h1">Bienvenu sur mon blog</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet tortor sed lacus lacinia dictum nec eu arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget eleifend libero. Cras cursus ultricies pellentesque. Vestibulum suscipit nisl augue, vel tempor orci accumsan nec. Curabitur vitae aliquam turpis. Quisque rutrum nisi sed neque convallis, id maximus enim ullamcorper. Aliquam eu orci finibus, volutpat nunc ut, volutpat dolor. Nam viverra viverra vestibulum.
        <br>
            Nunc nunc dui, vulputate non tempus et, pretium nec lectus. Vestibulum semper, augue vel pulvinar accumsan, ipsum neque faucibus leo, in aliquam sapien mauris at neque. Mauris eget nulla cursus, ultricies ipsum quis, sodales neque. Vivamus faucibus iaculis quam, ut lacinia mi porttitor sed. Aenean libero lacus, efficitur nec ullamcorper et, sagittis in orci. Etiam vel blandit nulla. Fusce pretium ex ac metus suscipit facilisis.
        </p>
    </section>

{% endblock %}